﻿@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<Xynthesis.Modelo.xyp_RepReceiveCallsLlamEntranSalien_Result>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Xynthesis.css" rel="stylesheet" />
<script type="text/javascript" src="~/fonts/select/js/bootstrap-select.js"></script>
<link rel="stylesheet" href="~/fonts/select/css/bootstrap-select.min.css">
<script src="~/fonts/select/js/bootstrap-select.min.js"></script>
<script src="~/fonts/select/js/i18n/defaults-*.min.js"></script>
<link rel="stylesheet" href="~/Content/selectorfiltro.css">

@{
    ViewBag.Title = "Estadisticas De Llamadas Entrantes y Salientes";
    var mod = (List<Xynthesis.Modelo.xy_subscriber>)ViewData["usuario"];
}

<div class="container">
    <br />
    <div class="text-center">
        <h2><strong>Estadisticas de llamadas entrantes y salientes</strong></h2>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-10">
            @using (Html.BeginForm("ListaLlamadasEntrantesSalientes_", "ReporteLlamadasEntrantesSalientes", FormMethod.Get))
            {
                <div class="form-group form-inline">
                    @Html.TextBox("FechaInicial", null, new { @class = "form-control", @placeholder = "Fecha inicial", style = "width:110px" })
                    @Html.TextBox("FechaFinal", null, new { @class = "form-control", @placeholder = "Fecha final", style = "width:110px" })
                    <select class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-live-search-placeholder="USUARIO" title="USUARIO" id="NomUsuario" name="usuarioId" data-size="10">
                        @foreach (var usuar in mod)
                        {
                            <option id="@usuar.Nom_Subscriber" value="@usuar.Ide_Subscriber">@usuar.Nom_Subscriber</option>
                        }
                    </select>

                    @*<input type="submit" name="btnEnviar" id="enviar" class="btn btn-success" value="GENERAR" />*@
                    <button type="submit" name="btnEnviar" id="enviar" class="btn btn-success" title="GENERAR"><i class="fas fa-file-export"></i></button>
                    <div class="form-group mx-5 text-center pull-right" id="fec">
                        <label id="lblFechas" class="control-label">@ViewBag.fechaini @ViewBag.fechafin</label>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-2 text-right">
            @using (Html.BeginForm("Reportes", "ReporteLlamadasEntrantesSalientes"))
            {
                <div class="form-group form-inline ">
                    <select name="opcion" class="form-control">
                        <option value="pdf">PDF</option>
                        <option value="excel">EXCEL</option>
                        <option value="word">WORD</option>
                    </select>

                    @*<input type="submit" name="btnGenerarReporte" id="GenerarReporte" value="EXPORTAR" class="btn btn-success" />*@
                    <button type="submit" name="btnGenerarReporte" id="GenerarReporte" class="btn btn-success" title="EXPORTAR"><i class="fas fa-print"></i></button>
                </div>
            }
        </div>
    </div>


    <table class="table table-condensed table-responsive table-hover table-striped">
        <tr tr style="background-color:#E1E1E1;">
            <th>
                <strong>NOMBRE DE USUARIO</strong>
            </th>
            <th class="text-center">
                <strong>RECIBIDAS SIN RESPONDER</strong>
            </th>
            <th class="text-center">
                <strong>RECIBIDAS RESPONDIDAS</strong>
            </th>
            <th class="text-center">
                <strong>TIEMPO DEDICADO (Sg.)</strong>
            </th>
            <th class="text-center">
                <strong>HECHAS SIN RESPONDER</strong>
            </th>
            <th class="text-center">
                <strong>HECHAS RESPONDIDAS</strong>
            </th>
            <th class="text-center">
                <strong>TIEMPO DEDICADO (Sg.)</strong>
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom_Subscriber)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.calls_unanswering)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.calls_answering)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.time_answering)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.calls_unanswering1)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.calls_unanswering2)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.calls_unanswering3)
                </td>

            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ListaLlamadasEntrantesSalientes", new { page, opcion = ViewBag.paraPaginacion, paraPaginacion = ViewBag.paraPaginacion }))
</div>
<script src="~/Scripts/NotacionDecimal.js"></script>